<!DOCTYPE html>
<html lang="en">
<style>
.title { justify-content:center;display:flex !important;font-size:28px;font-weight:normal; }
.form { justify-content:center;display:flex !important; }
.img { justify-content: center;display: flex !important;padding: 0 10px 0 10px; }
.button { max-height: 100px; min-height: 50px !important; min-width: 120px; margin:8px;}
</style>
<head>
    <meta charset="UTF-8">
    <title>目标检测结果</title>
</head>
<body>
    <div class="title">欢迎使用Web目标检测服务</div>
    <form action="" enctype='multipart/form-data' method='POST'>
        <div class="form">
            <input style="display: none" type="file" name="file" id="up"/>
            <input class="button" type="button" onclick="document.getElementById('up').click();" value="选取文件"/>
            <input class="button" type="submit" value="上传并识别"/>
        </div>
    </form>
    <div class="img">
        <img style="max-width:100%;overflow:hidden;" src="{{ url_for('static', filename= 'test.jpg') }}" alt=""/>
    </div>
</body>
</html>